:root {
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgb(255,0,86);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1 ;
   
}

@function getAnimationDuration($duration: number){
     @return calc($duration * var(--animation-speed));
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: var(--font-size);
    font-family: 'roboto','sans-serif';
    padding-top: 55px;
    background-color: var(--background-light);
}

a {
    text-decoration: none;
}

img{
    object-fit: cover;
}

.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color:#fff;
    padding: .75em .5em;
    text-transform: uppercase;
    font-size: .9em ;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 3px 6px var(--shadow-color);
    &:hover{
        box-shadow: 0 1px 3px var(--shadow-color);
    }

}

.custom-image{
    background-color: red;
    height: 0;
    width: 100%;
    position: relative;
    img{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%
    }
    
}




@import 'partials/navbar.scss';

.section{
   display :flex;
   flex-wrap: wrap;
   align-items: center;
   margin-bottom: 2em;
   &.d-block{
    display: block;
   }
   .title{
    color: var(--text-color);
    font-size: 2.5em;
    margin-bottom: 1em; 
    font-weight: 900;
   }
   .info{
    color: var(--text-light);
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin-bottom: 1.3em;
   }
   .col{
    width: 50%;
   }
}

@import 'partials/hero-section';

@import 'partials/improve-section';

@import 'partials/quotes-section';

@import 'partials/chief-section';

@import 'partials/footer.scss';

@import 'partials/previous-searches';

@import 'partials/recipes-section';


.options-container{
    box-shadow: 0 5px 10px var(--shadow-color);
    padding: 1em;
    border-radius: 5px;
    border-left: .5em solid var(--primary-color);
    background-color:  var(--background-light);
    margin-top: 1em;
    display: flex;
    gap: 1em;
    .option{
        height: 3em;
        width: 3em;
        box-shadow: 0 3px 6px var(--shadow-color);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.light{
            background-color: #fff;
        }
        &.dark{
            background-color: rgb(29, 29, 29);
        }
        .check{
            height: 2.5em;
            width: 2.5em;
            background-color: var(--primary-color);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: o 2px 5px var(--shadow-color);
            svg{
                height: 1.5cm;
                width: 1.5em;
            }
        }
    }
    .btn span{
        display: inline-block;
        margin-left: .5em;
   }
}
.d-block h2{
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: .5em;
    color: var(--text-color);
}

.main{
    padding-block: 3vw ;
}

.container {
    padding-inline: 12vw;
}
.footer{
     grid-template-columns: repeat(4, 1fr);
     .footer-section:nth-child(1){
        grid-column: span 4;
     }
     .footer-section:nth-child(2),
     .footer-section:nth-child(3){
        grid-column: span 2;
     }
}

@import 'partials/animations.scss';


@media screen and (max-width: 1280px){
.container{
    padding-inline: 18vw;
}
}
@media screen and (max-width: 1050px){
    .container{
        padding-inline: 12vw;
}
}

@media screen and (max-width: 768px){

    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }
    .section{
        .col{
            width: 100%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;
        }
    }
    .skill-item{
        display: inline-block;
        margin: 1em;
    }
    .section.improve-skills .btn{
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
    }
   


    .chief-card{
        box-shadow: 0 5px 10px var(--shadow-color);
    }
    .container{
        padding-inline: 6vw;
    }
    
}

@media screen and (max-width: 480px){
    .container{
        padding-inline: 3vw;
}
}
