.section.improve-skills{

    .col.img{
        img{
            width: 100%;
        }
    }
    .col.typography{
        padding-left: 2em;
        .skill-item{
            border-left: .2em solid var(--primary-color);
            margin-bottom: 1em;
            padding: .1em 0 .2em .5em;
            color: var(--text-light);
            font-weight: bold;
            transform: translateX(100%);
            opacity: 0;
            animation: getAnimationDuration(.4s) slideInRight forwards ;
            @for $i from 1 through 7{
                &:nth-child(#{$i}){
                    animation-delay: #{$i * .2}s;
                }
            }
        }
        .btn{
            margin-top: .75em;
        }

    }
}