.previous-searches{
    display: block;
    h2{
        color: var(--text-color);
        margin-bottom: .7em;

    }
    .previous-searches-container{
        .search-item{
            background-color: var(--primary-color);
            display: inline-block;
            padding: .5em 1em;
            margin: 0 1em 1em 0;
            border-radius: 2em;
            color: #fff;
            box-shadow: 0 3px 6px var(--shadow-color);
            transform: translateX(100%);
            opacity: 0;
            animation: getAnimationDuration(.5s) slideInRight forwards;
        }
    }
    .search-box{
        display: flex;
        align-items: center;
        justify-content:flex-end;
        height: 40px;
        input, .btn{
            height: 35px;
        }
        input{
             min-width: 250px;
             padding: .5px;
             border-radius: 5px 0 0 5px;
             outline: none;
             border: 1px solid var(--primary-color);
            
        }
        .btn{
            padding-block: 0;
            padding-inline: 1em;
            border-radius: 0 5px 5px 0;
        }
    }
}