.recipes-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1.5em;

}
.recipe-card{
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px var(--shadow-color);
    .custom-image{
        z-index: -1;
    }
    .recipe-card-info{
        padding: 15px;
    }
    .author-img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 3px solid var(--background-light);
        box-shadow: 0 1px 3px var(--shadow-color);
        z-index: 1;
        margin-top: -50px;
    }
    .recipe-title{
        font-size: 1.25em;
        font-weight: bold;
        margin-bottom: .5em;
        color: var(--text-color);
        margin-top: .25em;
    }
    .recipe-desc{
        color: var(--text-color);
        font-size: .9em;
        letter-spacing: 1px;
    }
    .view-btn{
        font-size: 1em;
        font-weight: bold;
        color: var(--primary-color);
        margin-top: .5em;
        display: inline-block;
    }
    
}